.photo {
    height: 80px;
    width: 80px;
  }
  
.custome-jum{

  height: 10%;

}
.custome-nav{
background-color: #5A7362;

}

.graid{

    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),url(../../img/trans7.jpeg);

}

.div-levo{

  float: left;
  width: 50%;
}

.opsi-photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}

.div-gori{

  padding-top: 25px;
}

.div-footer{

  padding-top: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

.photo-react{
 height: 80px;
width: 80px;

}

.div-kartice{
  align-content: center;
  vertical-align: middle;
}

.p-cards{
  display: flex;
  vertical-align: middle;
  margin-top: 0.3cm;
  
}
.avatarcek{
  vertical-align:middle;
}

.div-text{

  padding-bottom: 10px;
}
